.idea
dotfiles.sublime-*

# Sublime text 3 Package control
# see https://packagecontrol.io/docs/syncing
Package Control.cache/
Package Control.ca-certs/
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.user-ca-bundle
Package Control.merged-ca-bundle
Package Control.system-ca-bundle
