# Sublime text 3 Package control
# see https://packagecontrol.io/docs/syncing
Package Control.cache/
Package Control.ca-certs/
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.user-ca-bundle
Package Control.merged-ca-bundle
Package Control.system-ca-bundle

# phpstorm excludes
/src/WebIde100/config/options/*
!/src/WebIde100/config/options/code.style.schemes.xml
!/src/WebIde100/config/options/colors.scheme.xml
!/src/WebIde100/config/options/keymap.xml

# i3 config is generated dynamically
/src/i3/config

# Some local bashrc includes
/src/.bashrc.d/*.local.sh
