#
# ~/.xprofile
#
# sourced by /etc/lxdm/Xsession or /etc/lightdm/Xsession.
#
# Allows you to execute commands at the beginning
# of the X user session - before the WM is started.
#
# WARNING! This file should only contain
# POSIX-compliant commands and directives.
# Providing, for example, bash-specific commands will result
# in X server crash.

if which dbus-launch >/dev/null && test -z "$DBUS_SESSION_BUS_ADDRESS"; then
    eval "$(dbus-launch --sh-syntax --exit-with-session)"
fi

# Environment variables
#
export GTK2_RC_FILES="$HOME/.gtkrc-2.0"

########## ########## ########## ########## ##########

. "${HOME}/.sh/POSIX/dot_logger.sh"

dot_logger_log "Loading ~/.xprofile"

# Load display settings
if [ -d "${HOME}/.autorandr/hypnoglow" ]; then
    #TODO: rework profiles based on WS_PROFILE
    autorandr.sh --change --default hypnoglow
fi

# Load local fonts
xset +fp /usr/share/fonts/local
xset fp rehash

# Prepare i3 config based on workstation profile
if [ -x "$(which i3-generate-config 2>/dev/null)" ]; then
    dot_logger_log "Executing i3-generate-config with profile ${WS_PROFILE}"
    i3-generate-config "${WS_PROFILE}" &>> "$(dot_logger_getlogfile)"
fi
