!
! Font
!

! Font Examples:
! URxvt.font: 9x15
! URxvt.font: xft:Terminus:size=12
! URxvt.font: xft:Source Code Pro:Medium:pixelsize=12:antialias=true:hinting=true
! URxvt.font: xft:Iosevka Term:size=12:antialias=true:hinting=true
URxvt.font: -misc-tamzen-medium-r-normal--16-116-100-100-c-80-iso8859-1,\
            -misc-tamzenforpowerline-medium-r-normal--16-116-100-100-c-80-iso10646-1,\
            9x15
URxvt.boldFont: -misc-tamzen-bold-r-normal--16-116-100-100-c-80-iso8859-1,\
                -misc-tamzenforpowerline-bold-r-normal--16-116-100-100-c-80-iso10646-1,\
                9x15
URxvt.italicFont:
URxvt.boldItalicFont:

URxvt.letterSpace: 0
URxvt.lineSpace: 0

Xft.hinting: true
Xft.autohint: false
Xft.hintstyle: hintslight

! Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

!
! Opts
!

Xcursor.theme: Chameleon-Pearl-Regular-0.5
Xcursor.size:  0

URxvt.depth: 32
URxvt*cursorBlink:                    true

URxvt*urgentOnBell:                   true
URxvt*visualBell:                     false
URxvt*mapAlert:                       false

!
! Scroll
!

! Scroll when output come but not when you go back in to the buffer.
! Scroll back to the end on key press
! (on program stop running and prompt is back it go back to the end too).
URxvt*scrollTtyOutput:                false
URxvt*scrollWithBuffer:               true
URxvt*scrollTtyKeypress:              true

URxvt*saveLines:                      50000
URxvt*mouseWheelScrollPage:           false

URxvt*scrollBar:                      true
URxvt*scrollstyle:                    plain
URxvt*scrollBar_right:                true
URxvt*scrollColor:                    #2ECC71

! Keybindings for 1-line scrolling
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007

!
! Urls
!

URxvt.perl-ext-common: default,matcher,url-select,selection-to-clipboard,autocomplete-ALL-the-things
URxvt.url-launcher: google-chrome-stable
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: google-chrome-stable
URxvt.url-select.underline: true

URxvt.keysym.C-space: perl:aAtt:word-complete
URxvt.keysym.M-C-space: perl:aAtt:fuzzy-complete

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

! for 'fake' transparency (without Compton) uncomment the following three lines
! URxvt*inheritPixmap:                  true
! URxvt*transparent:                    true
! URxvt*shading:                        138

! other possible settings:
! Rxvt.perl-ext-common: ...,clipboard
! URxvt.keysym.M-C-c:   perl:clipboard:copy
! URxvt.keysym.M-v:   perl:clipboard:paste
! URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
! URxvt*termName:                       string
! URxvt*geometry:                       geometry
! URxvt*chdir:                          string
! URxvt*reverseVideo:                   boolean
! URxvt*loginShell:                     boolean
! URxvt*multiClickTime:                 number
! URxvt*jumpScroll:                     boolean
! URxvt*skipScroll:                     boolean
! URxvt*pastableTabs:                   boolean
! URxvt*thickness:                      number
! URxvt*tintColor:                      !7DA55
! URxvt*blurRadius:                     HxV
! URxvt*fading:                         number
! URxvt*fadeColor:                      color
! URxvt*utmpInhibit:                    boolean
! URxvt*meta8:                          boolean
! URxvt*tripleclickwords:               boolean
! URxvt*insecure:                       boolean
! URxvt*cursorUnderline:                boolean
! URxvt*colorBD:                        color
! URxvt*colorIT:                        color
! URxvt*colorUL:                        color
! URxvt*colorRV:                        color
! URxvt*underlineColor:                 color
! URxvt*troughColor:                    color
! URxvt*highlightColor:                 color
! URxvt*highlightTextColor:             color
! URxvt*iconFile:                       file
! URxvt*intensityStyles:                boolean
! URxvt*inputMethod:                    name
! URxvt*preeditType:                    style
! URxvt*imLocale:                       string
! URxvt*imFont:                         fontname
! URxvt*title:                          string
! URxvt*iconName:                       string
! URxvt*buffered:                       boolean
! URxvt*visual:                         number
! URxvt*transient-for:                  windowid
! URxvt*override-redirect:              boolean
! URxvt*hold:                           boolean
! URxvt*skipBuiltinGlyphs:              boolean
! URxvt*backspacekey:                   string
! URxvt*deletekey:                      string
! URxvt*print-pipe:                     string
! URxvt*modifier:                       modifier
! URxvt*cutchars:                       string
! URxvt*answerbackString:               string
! URxvt*secondaryScreen:                boolean
! URxvt*secondaryScroll:                boolean
! URxvt*iso14755:                       boolean
! URxvt*iso14755_52:                    boolean
! URxvt*xrm:                            string
! URxvt*keysym.sym:                     keysym
! URxvt*background.border:              boolean
! URxvt*background.expr:                string
! URxvt*background.interval:            seconds
! URxvt*bell-command:                   string
! URxvt*kuake.hotkey:                   string
! URxvt*matcher.button:                 string
! URxvt*matcher.launcher:               string
! URxvt*matcher.launcher.*:             string
! URxvt*matcher.pattern.*:              string
! URxvt*matcher.rend.*:                 string
! URxvt*remote-clipboard.fetch:         string
! URxvt*remote-clipboard.store:         string
! URxvt*searchable-scrollback:          string
! URxvt*selection-autotransform.*:      string
! URxvt*selection-pastebin.cmd:         string
! URxvt*selection-pastebin.url:         string
! URxvt*selection.pattern-0:            string
! URxvt*tab-bg:                         colour
! URxvt*tab-fg:                         colour
! URxvt*tabbar-bg:                      colour
! URxvt*tabbar-fg:                      colour

!
! Color Scheme
!

! DEFAULTS.
*.background: [62]#000000
*.foreground:     #FFFFFF

! #include ".Xresources.d/scheme.dark.tomorrow_night"
! #include ".Xresources.d/scheme.dark.tomorrow_night_bright"
#include ".Xresources.d/scheme.dark.tomorrow_night_eighties"

XTerm*background: #272827
XTerm*foreground: #fdf6e3
XTerm*reverseVideo: on
XTerm*faceName: Terminus:size=11:antialias=true
XTerm*selectToClipboard: true
