# lazygit config file.
# Reference: https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md

gui:
  statusPanelView: allBranchesLog

git:
  branchLogCmd: "git log --color=always --graph --date=relative --pretty=format:'%C(auto)%h %C(reset)%<|(50,trunc)%s %C(bold blue)<%an>%C(reset) %C(green)(%cd)%C(reset)%C(auto)%d'"
  allBranchesLogCmds:
    - git log --color=always --graph --all --date=relative --pretty=format:'%C(auto)%h %C(reset)%<|(50,trunc)%s %C(bold blue)<%an>%C(reset) %C(green)(%cd)%C(reset)%C(auto)%d'

customCommands:
  - key: "F"
    command: "git fetch --prune"
    context: "localBranches"
    output: log
  - key: "<c-u>"
    command: "glab mr view --web"
    context: "localBranches"
    output: "log"

os:
  editPreset: "zed"
promptToReturnFromSubprocess: false

# Custom pull request urls, see: https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md#custom-pull-request-urls
# Example:
#
#   services:
#     gitlab.acme.com: gitlab:gitlab.acme.com
services: {}
