"*":
  Zen:
    gutter: true
    width: 160
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
      formatOnType: false
  "atom-material-ui":
    colors:
      abaseColor: "#aad875"
      accentColor: "#6f8853"
      predefinedColor: "Green"
    fonts:
      fontSize: 13
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView: {}
    ui:
      panelContrast: true
      panelShadows: true
  "autocomplete-go": {}
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    fileBlacklist: [
      "*.md"
      "*.txt"
    ]
    minimumWordLength: 2
  core:
    autoHideMenuBar: false
    automaticallyUpdate: false
    closeEmptyWindows: false
    disabledPackages: [
      "linter"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".tags"
    ]
    packagesWithKeymapsDisabled: [
      "fuzzy-finder"
      "go-debug"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "solarized-light-syntax"
    ]
    warnOnLargeFileLimit: 8
  editor:
    autoIndentOnPaste: false
    backUpBeforeSaving: true
    fontFamily: "Fira Code"
    fontSize: 13
    invisibles: {}
    lineHeight: 1.25
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "e64440d0-5c7e-4fd3-a5db-5b7c0a25c6e7"
  "expand-region": {}
  "file-icons":
    onChanges: true
    strategies: {}
  fonts:
    fontFamily: "Iosevka"
    preview: "[Hello, world!] {Привет, как дела?}"
  "fuzzy-finder": {}
  "go-guru": {}
  "go-plus":
    disabledBundledPackages: [
      "linter"
      "go-debug"
    ]
    panelDisplayMode: "closed"
  gofmt: {}
  "gometalinter-linter":
    args: [
      "--concurrency=1"
      "--deadline=30s"
      "--vendor"
      "--disable-all"
      "--enable=vet"
      "--enable=vetshadow"
      "--enable=golint"
      "--enable=ineffassign"
      "--enable=goconst"
      "--tests"
      "--json"
      "."
    ]
  "js-hyperclick": {}
  "language-archlinux":
    checkPKGBUILDOnSave: true
  linter: {}
  "linter-eslint":
    fixOnSave: true
  "linter-jshint": {}
  "linter-php": {}
  "linter-rust": {}
  "linter-shellcheck":
    userParameters: "-e SC1090,SC2164,SC2148"
  "linter-ui-default":
    panelHeight: 81
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "one-dark-ui": {}
  "package-generator":
    packageSyntax: "coffeescript"
  pigments: {}
  "rust-api-docs-helper":
    enableBackgroundResolving: false
  scrolloff:
    verticalMargin: 8
  "seti-syntax": {}
  "seti-ui": {}
  "split-diff": {}
  "tester-go":
    coverageHighlightMode: "covered-and-uncovered"
  "tree-view": {}
  welcome:
    showOnStartup: false
".coffee.source":
  editor:
    preferredLineLength: 80
    tabLength: 2
".dots.source":
  editor:
    preferredLineLength: 80
".go.source":
  editor:
    tabLength: 4
".gohtml.html.text":
  editor:
    tabLength: 4
".gotemplate.source":
  editor:
    tabLength: 4
".html.js.text":
  editor:
    tabLength: 2
".js.regexp.replacement.source":
  editor:
    tabLength: 4
".js.regexp.source":
  editor:
    tabLength: 4
".js.source":
  editor:
    tabLength: 4
".litcoffee.source":
  editor:
    tabLength: 4
".raml.source":
  editor:
    tabLength: 4
".ruby.source":
  editor:
    tabLength: 2
".shell-session.text":
  editor:
    tabLength: 4
".shell.source":
  editor:
    tabLength: 4
".source.tmux":
  editor:
    tabLength: 4
".source.yaml":
  editor:
    tabLength: 2
