"*":
  "atom-beautify":
    apex: {}
    arduino: {}
    c: {}
    cfml: {}
    coffeescript:
      indent_size: 2
    cpp: {}
    cs: {}
    css: {}
    d: {}
    ejs: {}
    erb: {}
    fortran: {}
    general:
      analytics: false
      beautifyEntireFileOnSave: false
    gherkin: {}
    handlebars: {}
    html: {}
    jade: {}
    java: {}
    js: {}
    json: {}
    jsx: {}
    latex: {}
    less: {}
    marko: {}
    mustache: {}
    objectivec: {}
    pawn: {}
    perl: {}
    php: {}
    python: {}
    riot: {}
    ruby: {}
    rust: {}
    sass: {}
    scss: {}
    spacebars: {}
    sql: {}
    svg: {}
    swig: {}
    tss: {}
    twig: {}
    typescript: {}
    vala: {}
    visualforce: {}
    xml: {}
    xtemplate: {}
  "atom-scrolloff":
    scrolloff: 20
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    fileBlacklist: [
      "*.md"
      "*.txt"
    ]
    minimumWordLength: 2
  core:
    disabledPackages: [
      "linter-php"
      "fonts"
      "linter-csslint"
      "js-hyperclick"
      "emmet"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".tags"
    ]
    packagesWithKeymapsDisabled: [
      "fuzzy-finder"
    ]
    themes: [
      "dracula-ui"
      "dracula-theme"
    ]
  editor:
    autoIndentOnPaste: false
    backUpBeforeSaving: true
    fontFamily: "Iosevka"
    fontSize: 16
    invisibles: {}
    lineHeight: 1.25
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "094ce7cd-aaa4-6a3d-8328-686afda11de7"
  "expand-region": {}
  fonts:
    fontFamily: "Iosevka"
    preview: "[Hello, world!] {Привет, как дела?}"
  "fuzzy-finder": {}
  gofmt: {}
  "js-hyperclick": {}
  linter:
    errorPanelHeight: 88
    lintOnFlyInterval: 1000
  "linter-jshint": {}
  "linter-php": {}
  "linter-rust": {}
  "linter-shellcheck": {}
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  "one-dark-ui": {}
  "package-generator":
    packageSyntax: "coffeescript"
  pigments: {}
  "rust-api-docs-helper":
    enableBackgroundResolving: false
  scrolloff:
    verticalMargin: 8
  "tree-view": {}
  welcome:
    showOnStartup: false
".dots.source":
  editor:
    preferredLineLength: 80
".go.source":
  editor:
    tabLength: 4
".gohtml.html.text":
  editor:
    tabLength: 4
".gotemplate.source":
  editor:
    tabLength: 4
".html.js.text":
  editor:
    tabLength: 2
".js.regexp.replacement.source":
  editor:
    tabLength: 4
".js.regexp.source":
  editor:
    tabLength: 4
".js.source":
  editor:
    tabLength: 4
".shell-session.text":
  editor:
    tabLength: 4
".shell.source":
  editor:
    tabLength: 4
".source.tmux":
  editor:
    tabLength: 4
