[user]
	name = Igor Zibarev
	email = zibarev.i@gmail.com
[core]
	editor = vim
	#editor = atom --wait
	eol = lf
	autocrlf = false
	quotepath = false
	excludesfile = ~/.gitexcludes
[push]
	default = simple
[alias]
	C = checkout
	Cm = checkout master
	Cb = checkout -b

	a = add
	ap = add --patch
	au = add -u

	# commit
	ci = commit
	ca = commit --amend -v --reset-author
	caf = commit --amend --reset-author --no-edit
	cm = commit --message
	calm = commit --all --message
	cv = commit -v

	s = status
	st = status
	ssb  = status -s -b
	br = branch

	# diff
    d = diff
	ds = diff --staged
	dw = diff --word-diff
	dt = difftool
	dts = difftool --staged

	mp = !git checkout master && git pull
	undo = reset --mixed HEAD~1
	cleanup = !git remote prune origin && git gc && git clean -dfx && git stash clear
	oneweek = log --format="%H" --since="1 week ago" --reverse | xargs -L 1 git show

	who = shortlog -n -s --no-merges
	cat-blob = cat-file -p master^{tree}

	# Shows current branch
	current-branch = rev-parse --abbrev-ref HEAD

	type = cat-file -t
	dump = cat-file -p

	lg  = log --graph       --date=format:%c --pretty=format:'%Cred%h %Creset%<|(50,trunc)%s %C(bold blue)<%an>%Creset %Cgreen(%cd)%Creset%C(auto)%d'
	lgf = log --graph       --decorate=short --abbrev-commit
	tr  = log --graph --all --date=relative --pretty=format:'%Cred%h %Creset%<|(50,trunc)%s %C(bold blue)<%an>%Creset %Cgreen(%cd)%Creset%C(auto)%d'
	trf = log --graph --all --decorate=short --abbrev-commit
	cinfo  = log -n1 --pretty=medium

	stash-unapply = !git stash show -p | git apply -R

	# Tricks

	assume   = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	assumed  = "!git ls-files -v | grep ^h | cut -c 3-"

	snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"
	snapshots = !git stash list --grep snapshot

	recent-branches = !git for-each-ref --count=15 --sort=-committerdate refs/heads/ --format='%(refname:short)'

[color]
	ui = auto
[i18n]
	commitencoding = utf-8
	logoutputencoding = utf-8
[merge]
	tool = extMerge
[mergetool "extMerge"]
	cmd = extMerge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	trustExitCode = false
[diff]
	mnemonicprefix = true
	tool = cdiff
[difftool "cdiff"]
	cmd = LESS=-SXR cdiff -s -c always -w 0 \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[commit]
	template = ~/.gitcommit
[rebase]
	autostash = true

# TODO: inspect https://www.kernel.org/pub/software/scm/git/docs/git-rerere.html
