#
# ~/.xprofile
#
# sourced by /etc/lxdm/Xsession or /etc/lightdm/Xsession
#
# Allows you to execute commands at the beginning
# of the X user session - before the WM is started.
#

if which dbus-launch >/dev/null && test -z "$DBUS_SESSION_BUS_ADDRESS"; then
    eval "$(dbus-launch --sh-syntax --exit-with-session)"
fi

# Environment variables
#
export GTK2_RC_FILES="$HOME/.gtkrc-2.0"

########## ########## ########## ########## ##########

echo "[$(date)] Loading xprofile" >> /tmp/dot_xprofile.log

# Load display settings
if [ -d "${HOME}/.autorandr/hypnoglow" ]; then
    autorandr.sh --change --default hypnoglow
fi

# Load local fonts
xset +fp /usr/share/fonts/local
xset fp rehash

### Prepare i3 config based on workstation profile ###
echo "[$(date)] Executing i3 config preparation" >> /tmp/dot_xprofile.log
i3_loader="${HOME}/.i3/prepare-conf"

# TODO: rework this - use env variable for determinining workstation
i3_profile=""
case "$HOSTNAME" in
    rigel)
        i3_profile="vm"
    ;;
    vega)
        i3_profile="job"
    *)
        i3_profile=""
    ;;
esac

if [ -x "${i3_loader}" ]; then
    "${i3_loader}" "${i3_profile}" &>> /tmp/dot_xprofile.log
fi
