#
# ~/.xprofile
#
# sourced by /etc/lxdm/Xsession or /etc/lightdm/Xsession
#
# Allows you to execute commands at the beginning
# of the X user session - before the WM is started.
#

if which dbus-launch >/dev/null && test -z "$DBUS_SESSION_BUS_ADDRESS"; then
    eval "$(dbus-launch --sh-syntax --exit-with-session)"
fi

# Environment variables
#
export GTK2_RC_FILES="$HOME/.gtkrc-2.0"

########## ########## ########## ########## ##########

. "${HOME}/.sh/dot_logger.sh"

dot_logger::log "Loading ~/.xprofile"

# Load display settings
if [ -d "${HOME}/.autorandr/hypnoglow" ]; then
    #TODO: rework profiles based on WS_PROFILE
    autorandr.sh --change --default hypnoglow
fi

# Load local fonts
xset +fp /usr/share/fonts/local
xset fp rehash

# Prepare i3 config based on workstation profile
i3_loader="${HOME}/.i3/prepare-conf"
if [ -x "${i3_loader}" ]; then
    dot_logger::log "Executing i3 config preparation: ${i3_loader} with profile ${WS_PROFILE}"
    "${i3_loader}" "${WS_PROFILE}" &>> "$(dot_logger::getlogfile)"
fi
