"*":
  core:
    disabledPackages: [
      "linter-shellcheck"
    ]
  editor:
    fontFamily: "Hack"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "094ce7cd-aaa4-6a3d-8328-686afda11de7"
  linter: {}
  "linter-rust": {}
  minimap:
    plugins:
      "git-diff": true
  "one-dark-ui": {}
  welcome:
    showOnStartup: false
".dots.source":
  editor:
    preferredLineLength: 80
