"*":
  "autocomplete-plus": {}
  core:
    disabledPackages: [
      "linter-shellcheck"
      "linter-php"
    ]
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "094ce7cd-aaa4-6a3d-8328-686afda11de7"
  fonts:
    fontFamily: "Anonymous Pro"
    preview: "[Hello, world!] {Привет, как дела?}"
  "js-hyperclick": {}
  linter:
    showErrorPanel: false
  "linter-jshint": {}
  "linter-php": {}
  "linter-rust": {}
  minimap:
    absoluteMode: true
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  "one-dark-ui": {}
  "rust-api-docs-helper":
    enableBackgroundResolving: false
  "tree-view": {}
  welcome:
    showOnStartup: false
".dots.source":
  editor:
    preferredLineLength: 80
".html.js.text":
  editor:
    tabLength: 2
