"*":
  "atom-scrolloff":
    scrolloff: 20
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    fileBlacklist: [
      "*.md"
      "*.txt"
    ]
    minimumWordLength: 2
  core:
    disabledPackages: [
      "linter-php"
      "fonts"
      "linter-csslint"
      "js-hyperclick"
      "linter-xo"
      "atom-scrolloff"
      "linter-jshint"
      "emmet"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".tags"
    ]
    themes: [
      "dracula-ui"
      "dracula-theme"
    ]
  editor:
    autoIndentOnPaste: false
    backUpBeforeSaving: true
    fontFamily: "Iosevka"
    fontSize: 16
    invisibles: {}
    lineHeight: 1.25
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  emmet: {}
  "exception-reporting":
    userId: "094ce7cd-aaa4-6a3d-8328-686afda11de7"
  "expand-region": {}
  fonts:
    fontFamily: "Iosevka"
    preview: "[Hello, world!] {Привет, как дела?}"
  "git-blame": {}
  gofmt: {}
  "js-hyperclick": {}
  linter:
    errorPanelHeight: 88
    lintOnFlyInterval: 1000
  "linter-jshint": {}
  "linter-php": {}
  "linter-rust": {}
  "linter-shellcheck": {}
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  "one-dark-ui": {}
  "rust-api-docs-helper":
    enableBackgroundResolving: false
  "tree-view": {}
  welcome:
    showOnStartup: false
".dots.source":
  editor:
    preferredLineLength: 80
".go.source":
  editor:
    tabLength: 4
".gohtml.html.text":
  editor:
    tabLength: 4
".gotemplate.source":
  editor:
    tabLength: 4
".html.js.text":
  editor:
    tabLength: 2
".js.regexp.replacement.source":
  editor:
    tabLength: 4
".js.regexp.source":
  editor:
    tabLength: 4
".js.source":
  editor:
    tabLength: 4
".shell-session.text":
  editor:
    tabLength: 4
".shell.source":
  editor:
    tabLength: 4
